<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jonh Doe">
    <meta name="content" content="Página geradora de pedido!">
    <!--LINK REL STYLE-->
    <link rel="stylesheet" href="/css/registroCliente/style.css">
    <!--END-->

    <!--BOOTSTRAP INCLUDE!-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--END-->
    <title>Mostrar Pedido: <%=usuario.nome%>
    </title>
</head>

<body class="bg-secondary">
    <div class="container">
        <div class="row bg-dark p-4">
            <div class="col-10 pe-1 ps-1 pt-2 pb-2">
                <div class="text-center fs-3 text-white"><strong>Cliente:</strong>
                    <%=usuario.nome%>
                </div>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <a href="/usuario/list" class="btn btn-success d-inline-flex justify-content-end"><span
                        class="fs-6">Listar</span></a>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <a href="/usuario/add" class="btn btn-success d-inline-flex justify-content-end"><span
                        lass="fs-6">Adicionar</span></a>
            </div>
        </div>
        <div class="row bg-light">
            <div class="data-fields">
                <div class="img-field">
                    <img src="/img/photos/<%=usuario.foto_perfil%>" alt="Imagem do usuário" class="img-responsive">
                    <div>
                    </div>
                    <div class="data-fields">
                        <div class="text-primary d-inline-block">Nome:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.nome%>
                        </div>
                    </div>

                    <div class="data-fields">
                        <div class="text-primary d-inline-block">CPF:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.cpf%>
                        </div>
                    </div>

                    <div class="data-fields">
                        <div class="text-primary d-inline-block">IE:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.ie%>
                        </div>
                    </div>

                    <div class="data-fields">
                        <div class="text-primary d-inline-block">Telefone:</div>
                        <div class="text-secondary d-inline-block">(<%=usuario.ddd%>) <%=usuario.telefone%>
                        </div>
                    </div>
                    <div class="data-fields">
                        <div class="text-primary d-inline-block">Email:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.email%>
                        </div>
                    </div>
                    <div class="data-fields">
                        <div class="text-primary d-inline-block">Estado(UF):</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.uf%>
                        </div>
                    </div>

                    <div class="data-fields">
                        <div class="text-primary d-inline-block">Cidade:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.cidade%>
                        </div>
                    </div>

                </div>
            </div>



            <!--BOOTSTRAP JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                crossorigin="anonymous"></script>
            <!--END-->
</body>

</html>