<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registroCliente/style.css"/>
    <title>Ver pedido: <%=usuario.nome%></title>
</head>
<body>
    <div id = "wrapper">
        <header class = "header-name">
            <h2>Pedido</h2>
        </header>
        <main>
            <article class = "foto-cliente">
                <img src = "/img/photos/<%=usuario.foto_perfil%>" alt ="Foto de Perfil"/>
            </article>
            <article class = "dados_cliente">
                <h2 id = "h2_nome">
                    <strong>Nome:</strong>
                    <%=usuario.nome%>
                </h2>

                <h2 id = "h2_email">
                    <strong>Email:</strong>
                    <%=usuario.email%>
                </h2>

                <h2 id = "h2_cpf">
                    <strong>CPF:</strong>
                    <%=usuario.cpf%>
                </h2>

                <h2 id = "h2_ie">
                    <strong>IE:</strong>
                    <%=usuario.ie%>
                </h2>
                <h2 id = "h2_telefone">
                    <strong>Telefone:</strong>
                    <%=usuario.telefone%>
                </h2>
                <h2 id = "h2_cidade_uf">
                    <strong>Cidade-UF:</strong>
                    <%=usuario.cidade%>-<%=usuario.uf%>  
                </h2>
                <h2 id = "h2_endereco">
                    <strong>Endereço:</strong>
                    <%=usuario.endereco%>  
                </h2>
                <h2 id = "h2_carimbo">
                    <h5><%=usuario.horaCarimbo%> <%= usuario.dataCarimbo%> </h5>
                </h2>


            </article>

        </main>


        
    </div>  
</body>
</html>