<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jonh Doe">
    <meta name="content" content="Página geradora de pedido!">
    <!--LINK REL STYLE-->
    <link rel="stylesheet" href="/css/registroCliente/style.css">
    <!--PRINT-->
    <link rel="stylesheet" type = "text/css"href="/css/registroCliente/print.css" media = "print"/>
    <!--BOOTSTRAP INCLUDE!-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Mostrar Pedido: <%=usuario.nome%>
    </title>
</head>

<body class="bg-secondary" onload="window.print()">
    <div class="container">
        <div class="row bg-light p-5">
            <div class="data-fields">
                <div class="img-field m-2">
                    <img src="/img/photos/<%=usuario.foto_perfil%>" alt="Imagem do usuário" class="img-responsive">
                    <div>
                    </div>
                    <div class="data-fields">
                        <div class="text-primary d-inline-block titles-data-field">Nome:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.nome%>
                        </div>
                    </div>

                    <div class="data-fields">
                        <div class="text-primary d-inline-block titles-data-field">CPF:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.cpf%>
                        </div>
                    </div>

                    <div class="data-fields">
                        <div class="text-primary d-inline-block titles-data-field">IE:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.ie%>
                        </div>
                    </div>

                    <div class="data-fields">
                        <div class="text-primary d-inline-block titles-data-field">Telefone:</div>
                        <div class="text-secondary d-inline-block">(<%=usuario.ddd%>) <%=usuario.telefone%>
                        </div>
                    </div>
                    <div class="data-fields">
                        <div class="text-primary d-inline-block titles-data-field">Email:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.email%>
                        </div>
                    </div>
                    <div class="data-fields">
                        <div class="text-primary d-inline-block titles-data-field">Cidade e UF:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.cidade%> - <%=usuario.uf%>
                        </div>
                    </div>
                    <div class="data-fields">
                        <div class="text-primary d-inline-block titles-data-field">Carimbo:</div>
                        <div class="text-secondary d-inline-block">
                            <%=usuario.carimbo.toLocaleString()%>
                        </div>
                    </div>
                </div>
            </div>



            <!--BOOTSTRAP JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                crossorigin="anonymous"></script>
        </body>
</html>