<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/list/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/style_addons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/style_addons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/style_addons/favicon-16x16.png">
    <link rel="manifest" href="/style_addons/site.webmanifest">
    <title>Listando Usuarios</title>
</head>

<body class="bg-dark">
    <div class="container">
        <div class="">

            <a href="/usuario/add" class="btn btn-success">
                Adicionar
            </a>

        </div>
        <table class="table">
            <thead class = "bg-black">
                <tr>
                    <th scope="col" class="text-danger id-div-width">#ID</th>
                    <th scope="col" class="text-primary">Nome:</th>
                    <th scope="col" class="text-primary">CPF:</th>
                    <th scope="col" class="text-primary">IE:</th>
                    <th scope="col" class="text-primary">Telefone:</th>
                    <th scope="col" class="text-primary">Email</th>
                    <th scope="col" class="text-primary">Cidade/UF</th>
                    <th scope="col" class="text-primary">Endereço:</th>
                    <th scope="col" class="text-primary">Carimbo:</th>
                    <th scope="col" class="text-bg-danger">Editar:</th>
                    <th scope="col" class="text-bg-danger">Deletar:</th>
                </tr>
            </thead>
            <tbody>
                <%UsuarioModel.forEach((usuario) => {%>

                <tr class="col">
                    <th scope="col" class = "text-light id-div-width">
                        <%=usuario._id%>
                    </th>
                    <td scope="col" class = "text-light">
                        <%=usuario.nome%>
                    </td>
                    <td scope="col" class = "text-light">
                        <%=usuario.cpf%>
                    </td>
                    <td scope="col" class = "text-light">
                        <%=usuario.ie%>
                    </td>
                    <td scope="col" class = "text-light">
                        (<%=usuario.ddd%>) <%=usuario.telefone%>
                    </td>
                    <td scope="col" class = "text-light">
                        <%=usuario.email%>
                    </td>
                    <td scope="col" class = "text-light">
                        <%=usuario.cidade%>/<%=usuario.uf%>
                    </td>
                    <td scope="col" class = "text-light">
                        <%=usuario.endereco%>
                    </td>
                    <td scope="col" class = "text-light">
                        <%=usuario.carimbo.toLocaleString()%>
                    </td>
                    <td scope="col" class="text-bg-warning">
                        <a href="/usuario/edit_user/<%=usuario._id%>" class="btn">
                            <img class="icon-responsive icon-config-css" src="/img/icons/edit-icon.png" alt="Editar" />
                        </a>
                    </td>
                    <td scope="col" class="text-bg-warning">
                        <a href="/usuario/delete_user/<%=usuario._id%>" class="btn">
                            <img class="icon-responsive icon-config-css" src="/img/icons/remove-icon.png"
                                alt="Remover" />
                        </a>
                    </td>
                </tr>
                <% });%>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
</body>

</html>