<%-include ('../include/default_look_page/header.ejs')%>

    <a href = "/usuario/add" class ="botaoLink">Adicionar</a>

    <form class = "search_form" method="post">
        <input type="text" name="search" id="searchInput" placeholder="Digite o nome do cliente aqui!"/>
        <input type="submit" value="Pesquisar"/>
    </form>
        <table class = "list_tabela">
            <tr>
                <th>ID:</th>
                <th>Nome:</th>
                <th>Foto:</th>  
                <th>Email:</th>
                <th>CPF:</th>
                <th>IE:</th>
                <th>Telefone:</th>
                <th>Cidade:</th>
                <th>UF:</th>
                <th>Endereço:</th>
                <th>Carimbo</th>
                <th>Deletar:</th>
                <th>Editar:</th>
                <th>Pedido:</th>
            </tr>
            <% UsuarioModel.forEach((usuario)=>{%>
            <tr>
                <td>
                    <%= usuario.id%>
                </td>
                <td>
                    <%=usuario.nome%>
                </td>
                <td>
                    <img src = "/img/photos/<%=usuario.foto_perfil%>" alt = "Foto" class = "foto-perfil"/>
                </td>
                <td>
                    <%= usuario.email%>
                </td>
                <td>
                    <%= usuario.cpf%>
                </td>
                <td>
                    <%= usuario.ie%>
                </td>
                <td>
                   <span>(<%= usuario.ddd %>)  <%= usuario.telefone%></span>
                </td>
                <td>
                    <%= usuario.cidade%>
                </td>
                <td>
                    <%= usuario.uf%>
                </td>
                <td>
                    <%= usuario.endereco%>
                </td>
                <td>
                    <span><%= usuario.dataCarimbo %> <%= usuario.horaCarimbo %> </span>
                </td>

                <td class ="th_td_edit_delete">
                    <a href = "/usuario/delete_user/<%= usuario._id%>">
                        <img src = "/img/icons/delete_icon.png" class = "img-fix-size" />    
                    </a>
                    
                </td>
                <td class = "th_td_edit_delete">

                    <a href = "/usuario/edit_user/<%= usuario._id%>">
                        <img src = "/img/icons/edit_icon.png" class = "img-fix-size"/>    
                    </a>   
                </td>
                <td class = "th_td_edit_delete">
                    <a href = "/usuario/pedido/<%=usuario._id%>" >Abrir</a>
                </td>
            </tr>
            
            <% })%>
        </table>

<%- include ('../include/default_look_page/footer.ejs')%>